<!-- Footer -->
<footer class="py-5 bg-dark" style="background-image: linear-gradient(10deg, #5ab2ff 0, #75afff 6.25%, #8baaff 12.5%, #9fa6ff 18.75%, #b1a1fd 25%, #c19df7 31.25%, #cf98ef 37.5%, #dc94e6 43.75%, #e790dc 50%, #f08dd1 56.25%, #f88ac6 62.5%, #fd88ba 68.75%, #ff87af 75%, #ff87a3 81.25%, #ff8897 87.5%, #ff898c 93.75%, #ff8c81 100%);">
  <div class="container">
    <p class="m-0 text-center text-white">
      Copyright &copy; SeedFit Inventory - 2021
    </p>
  </div>
  <!-- /.container -->
</footer>

