<main class="container" style="padding-top: 2%;">

  <div class="row" style="padding-bottom: 2%;">
    <div class="col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body" style="background-color: #7fd7e6;">
          <div class="row align-items-center">
            <div class="col-6">
              <h5 class="text-muted fw-normal mt-0 text-truncate" title="Tops">Tops</h5>
              <h3 class="my-2 py-1">40,800</h3>
              <p class="mb-0 text-muted">
                <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 3.27%</span>
              </p>
            </div>
            <div class="col-6">
              <div>
                <img src="/assets/img/1.PNG" alt="mdo" width="90" height="90" class="rounded-circle">
              </div>
            </div>
          </div> <!-- end row-->
        </div> <!-- end card-body -->
      </div> <!-- end card -->
    </div> <!-- end col -->

    <div class="col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body" style="background-color: #d696fb;">
          <div class="row align-items-center">
            <div class="col-6">
              <h5 class="text-muted fw-normal mt-0 text-truncate" title="Licras">Licras</h5>
              <h3 class="my-2 py-1">20,500</h3>
              <p class="mb-0 text-muted">
                <span class="text-success me-2"><i class="mdi mdi-arrow-down-bold"></i> 5.38%</span>
              </p>
            </div>
            <div class="col-6">
              <div>
                <img src="/assets/img/2.PNG" alt="mdo" width="90" height="90" class="rounded-circle">
              </div>
            </div>
          </div> <!-- end row-->
        </div> <!-- end card-body -->
      </div> <!-- end card -->
    </div> <!-- end col -->

    <div class="col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body" style="background-color: #FB96EF;">
          <div class="row align-items-center">
            <div class="col-6">
              <h5 class="text-muted fw-normal mt-0 text-truncate" title="Bikers">Bikers</h5>
              <h3 class="my-2 py-1">12,000</h3>
              <p class="mb-0 text-muted">
                <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 4.87%</span>
              </p>
            </div>
            <div class="col-6">
              <div>
                <img src="/assets/img/3.PNG" alt="mdo" width="90" height="90" class="rounded-circle">
              </div>
            </div>
          </div> <!-- end row-->
        </div> <!-- end card-body -->
      </div> <!-- end card -->
    </div> <!-- end col -->

    <div class="col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body" style="background-color: #fca2bd;">
          <div class="row align-items-center">
            <div class="col-6">
              <h5 class="text-muted fw-normal mt-0 text-truncate" title="Total">Total</h5>
              <h3 class="my-2 py-1">$73.300</h3>
              <p class="mb-0 text-muted">
                <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 11.7%</span>
              </p>
            </div>
            <div class="col-6">
              <div>
                <img src="/assets/img/4.PNG" alt="mdo" width="90" height="90" class="rounded-circle">
              </div>
            </div>
          </div> <!-- end row-->
        </div> <!-- end card-body -->
      </div> <!-- end card -->
    </div> <!-- end col -->
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Top</strong>
          <h3 class="mb-0">Rosa Negra</h3>
          <div class="mb-1 text-muted">₡7.500</div>
          <p class="card-text mb-auto">Top disponible en tallas S, M y L. Tela licra.</p>
          <div class="mb-1 text-muted">Costo ₡3.500</div>
          <a href="#" class="stretched-link">Ver producto...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" preserveAspectRatio="xMidYMid slice" src="/assets/img/rosa.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Top</strong>
          <h3 class="mb-0">Prímula</h3>
          <div class="mb-1 text-muted">₡8.000</div>
          <p class="mb-auto">Top disponible en tallas S, M y L. Tela satín.
          </p>
          <div class="mb-1 text-muted">Costo ₡4.000</div>
          <a href="#" class="stretched-link">Ver producto...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" preserveAspectRatio="xMidYMid slice"
            src="/assets/img/primula.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>

    <h1 style="color:#800070">Cantidad de productos registrados: {{datos}}</h1><hr>
    <br>

  <div class="row">
    <div class="col-md-4 order-md-1 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Entradas</span>
        <span class="badge badge-primary badge-pill" style="color: #64009a;">3</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Top Prímula</h6>
            <small class="text-muted">Talla S</small>
          </div>
          <span class="text-muted">6</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Top Prímula</h6>
            <small class="text-muted">Talla M</small>
          </div>
          <span class="text-muted">5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Top Rosa Negra</h6>
            <small class="text-muted">Talla S</small>
          </div>
          <span class="text-muted">10</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <strong>21</strong>
        </li>
      </ul>
    </div>

    <div class="col-md-4 order-md-1 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Salidas</span>
        <span class="badge badge-secondary badge-pill" style="color: #64009a;">3</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Top Prímula</h6>
            <small class="text-muted">Talla S</small>
          </div>
          <span class="text-muted">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Top Prímula</h6>
            <small class="text-muted">Talla M</small>
          </div>
          <span class="text-muted">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Top Rosa Negra</h6>
            <small class="text-muted">Talla S</small>
          </div>
          <span class="text-muted">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <strong>6</strong>
        </li>
      </ul>
    </div>

    <div class="col-md-4 order-md-1 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Bajo Inventario</span>
        <span class="badge badge-secondary badge-pill" style="color: #64009a;">2</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Biker Animal Print</h6>
            <small class="text-muted">Talla S</small>
          </div>
          <span class="text-muted">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Top Muscari</h6>
            <small class="text-muted">Talla M</small>
          </div>
          <span class="text-muted">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <strong>2</strong>
        </li>
      </ul>
    </div>

  </div>

  <div class="p-4 p-md-5 mb-4 text-white rounded col-xl-12"
    style="background-image: linear-gradient(215deg, #f657ab 0, #e64aab 16.67%, #d138a8 33.33%, #b61da2 50%, #9a009c 66.67%, #7e0099 83.33%, #64009a 100%);">
    <div class="row">
      <div class="col-md-6">
      <h1 class="display-4">En movimiento...</h1>
      <p class="lead my-3">Disfrutar del camino siempre es mas satisfactorio que llegar al destino</p>
      <p class="lead mb-0"><a routerLink = "home/acercade" routerLinkActive = "active"
         class="text-white fw-bold">Acerca de...</a></p>
      </div>
      <div class="col-md-6" style="padding-left: 20%;">
        <img src="/assets/img/logo.ico" alt="mdo" width="150" height="150" class="rounded-circle">
      </div>
    </div>
  </div>
</main>

